@model bg_lib.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPlayToWin" class="control-label"></label>
                <input asp-for="IsPlayToWin" class="form-control" />
                <span asp-validation-for="IsPlayToWin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsInCirculation" class="control-label"></label>
                <input asp-for="IsInCirculation" class="form-control" />
                <span asp-validation-for="IsInCirculation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCheckedOut" class="control-label"></label>
                <input asp-for="IsCheckedOut" class="form-control" />
                <span asp-validation-for="IsCheckedOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastCheckoutDate" class="control-label"></label>
                <input asp-for="LastCheckoutDate" class="form-control" />
                <span asp-validation-for="LastCheckoutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastCheckinDate" class="control-label"></label>
                <input asp-for="LastCheckinDate" class="form-control" />
                <span asp-validation-for="LastCheckinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
