@{
    ViewData["Title"] = "Main Menu";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BG-Lib</h1>
    <h3>Please select from the options below.</h3>
	
    <form method="get" action="@Url.Action("Index", "Game")">
    	<button type="submit">Go to Games</button>
    </form>



</div>
